/*----- FONTS -----*/
$font: 'Skranji';
$font-weight-normal: 400;
$font-weight-bold: 700;

/*----- COLORS -----*/
$card-background-color: #6c624a;
$card-border-color: white;
$card-cost-icon-color: rgb(0, 168, 0);
$card-defense-color: rgb(145, 145, 211);
$card-strength-color: rgb(255, 100, 100);
$card-text-color: white;
$embedded-form-background-color: #111;
$error-color: red;
$font-color: #bbb;
$highlight-color: yellow;
$modal-background-color: #222c;
$online-indicator-color: lightgreen;
$panel-background-color: #222;
$panel-overlay-background-color: #333;
$window-background-color: black;

/*----- MISCELLANEOUS -----*/
$border-radius: 4px;


/*===== GLOBAL =====*/

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin panel {
  background-color: $panel-background-color;
  border-radius: $border-radius;
}

@mixin embedded-form {
  background-color: $embedded-form-background-color;
  border: none;
  border-radius: $border-radius;
  color: inherit;
  font-family: inherit;
}

@mixin hover {
  background-color: $highlight-color;
  color: $panel-background-color;
}

@mixin modal {
  background-color: $modal-background-color;
  border: 1px solid $font-color;
  border-radius: $border-radius;

  .modal-title {font-size: 4vmin;}
}

* {
  box-sizing: border-box;
  color: unset;
  cursor: default;
  margin: 0;
  overscroll-behavior: none;
}

.App {
  background-color: $window-background-color;
  color: $font-color;
  font-family: $font;
  height: 100vh;

  .blur {filter: blur(12px);}

  .inset-text {
    @include flex-center;
    color: $panel-overlay-background-color;
    flex: auto;
    flex-direction: column;
    font-size: 5vmin;
    font-weight: $font-weight-bold;
    user-select: none;
  }  

  > div {height: 100%;}

  .nav-button {
    @include panel;
    border: none;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    transition: 0.1s ease-in-out;

    &:hover {@include hover;}
  }
}


/*===== COMPONENTS =====*/

.Splash, .UserRegistration, .UserLogin {
  @include flex-center;
  flex-direction: column;
}

.Splash {
  .splash-title {
    @include flex-center;
    font-size: 20vmin;
    font-weight: $font-weight-bold;
    height: 40vmin;

    > span {
      transition: 0.15s ease-in-out;

      &:hover {
        color: $highlight-color;
        transform: scale(1.1);
      }
    }
  }

  .splash-nav .nav-button {
    font-size: 4vmin;
    margin: 0 4vmin;
    padding: 0.5vmin 3vmin; 
  }
}

.UserRegistration, .UserLogin {
  .form-title {
    font-size: 7vmin;
    font-weight: $font-weight-bold;
  }

  form {
    display: grid;
    font-size: 2.2vmin;
    grid-template-columns: max-content 1fr;
    margin: 4vmin 0 8vmin;
    row-gap: 1.75vmin;

    label {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    input {
      @include panel;
      border: none;
      color: $highlight-color;
      cursor: text;
      font-family: inherit;
      font-size: inherit;
      margin-left: 2vmin;
      padding: 0.15vmin 1vmin;

      &:focus {outline: none;}
    }

    .form-instruction {
      font-size: 1.5vmin;
      margin-top: -1vmin;
      padding: 0 2.5vmin;

      .invalid {color: $error-color;}
    }

    .nav-button {
      font-size: 3vmin;
      grid-column: span 2;
      margin: 3vmin auto;

      &:disabled {
        color: $panel-overlay-background-color;
        cursor: default;
        transition: none;

        &:hover {background-color: $panel-background-color;}
      }
    }

    .error-message {
      color: $error-color;
      grid-column: span 2;
      text-align: center;
    }
  }  

  .nav-button {
    font-size: 4vmin;
    margin: 0 4vmin;
    padding: 0.5vmin 3vmin;
  }
}

.UserPage {
  display: grid;
  grid-template-columns: 23% 77%;
  padding: 10px;

  .Chat {
    @include panel;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 10px;
    max-height: calc(100vh - 20px);

    .nav-button {
      background-color: $panel-overlay-background-color;
      font-size: 3vmin;
      margin: 0.5vmin auto 0;
      padding: 0.5vmin 3vmin;

      &:hover {@include hover;}
    }

    .UserFriends {
      background-color: $panel-overlay-background-color;
      border: 1px solid $window-background-color;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      font-size: 1.75vmin;
      height: 20vmin;
      justify-content: flex-start;
      margin: 1vmin auto 2vmin;
      padding: 0.5vmin 0;
      width: 97.5%;

      > span {@include flex-center;}

      .friends-list {
        align-items: center;
        border-top: 1px solid $window-background-color;
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0.5vmin auto;
        overflow-y: auto;
        width: 100%;

        .friend {
          display: flex;
          justify-content: space-between;
          margin-top: 0.75vmin;
          width: 80%;

          > div {
            background-color: $panel-background-color;
            border-radius: $border-radius;
            cursor: pointer;
            text-align: center;

            &:hover {@include hover;}
          }

          .name {
            flex: auto;
            margin-right: 0.75vmin;

            .online {
              color: $online-indicator-color;
              margin-right: 0.5vmin;
            }
          }

          .unfriend {
            padding: 0 1vmin;

            &:hover {background-color: $error-color;}
          }
        }
      }
    }

    .ActiveChat {
      display: flex;
      flex: auto;
      flex-direction: column;
      font-size: 1.75vmin;

      .chat-title {
        font-size: 1.5vmin;
        margin: 0 auto 0.5vmin;

        span {
          color: $highlight-color;
          font-size: 1.75vmin;
          font-weight: $font-weight-bold;
        }
      }

      .chat-actions {
        display: flex;
        margin-bottom: 1.5vmin;
        width: 100%;

        .nav-button {
          font-size: inherit;
          margin: 0 0.2vmin;
          padding: unset;
          padding-top: 0.15vmin;
          text-align: center;
          width: 50%;
        }
      }

      .message-window {
        display: flex;
        flex-direction: column;
        flex: auto;
        font-size: inherit;
        justify-content: flex-end;
        overflow: auto;
        width: 100%;

        .message {
          border-radius: $border-radius;
          margin: 0.4vmin 0.25vmin;
          padding: 0.25vmin 0.75vmin;
          width: 80%;
        }

        .user-author {
          align-self: last baseline;
          background-color: rgba(0, 255, 255, 0.1);
          color: rgba(0, 255, 255, 0.7);
          text-align: right;
        }

        .user-not-author {
          background-color: rgba(255, 255, 0, 0.15);
          color: rgba(255, 255, 0, 0.7);
        }
      }

      form {
        display: grid;
        grid-template-columns: 85% 15%;
        height: auto;
        padding: 0.25vmin;
        width: 100%;

        input, button {
          @include embedded-form;
          font-size: inherit;
        }

        input {
          cursor: text;
          margin-right: 0.25vmin;

          &:focus {outline: none;}
        }

        button {
          cursor: pointer;
          transition: 0.1s ease-in-out;

          &:hover {@include hover;}
        }
      }
    }
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vmin 1fr;
    row-gap: 10px;

    .UserPageNav, .UserPageNav + div nav {
      display: flex;
      font-size: 2vmin;
      justify-content: space-between;
      padding: 0 2vmin;
      width: 100%;
  
      .nav-links span {
        border-right: 1px solid $panel-overlay-background-color;
        cursor: pointer;
        padding: 0.5vmin 2vmin;
        transition: 0.1s ease-in-out;
  
        &:last-of-type {
          border-right: none;
          padding-right: 0;
        }
  
        &:hover {color: $highlight-color;}
      }
    }

    .UserPageNav {
      @include panel;
      align-items: center;

      .username {
        color: $highlight-color;
        font-size: 2.25vmin;
        font-weight: $font-weight-bold;
        margin-right: 0.3vmin;
      }
    }
    
    .UserPageNav + div {
      height: 100%;
      width: 100%;

      nav {
        align-items: start;

        > span {
          font-size: 6vmin;
          font-weight: $font-weight-bold;
        }
      }
    }

    .nav-panels {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
    }

    .NavPanel {
      @include panel;
      display: grid;
      grid-template-columns: 25% 75%;
      transition: 0.1s ease-in-out;

      * {cursor: pointer;}

      &:hover {
        background-color: $panel-overlay-background-color;

        .nav-panel-text span {color: $highlight-color;}
      }

      .nav-panel-image {
        @include flex-center;

        .nav-panel-image-container {
          @include flex-center;
          height: 80%;
          width: 80%;

          span {
            color: $panel-background-color;
            font-size: 9.25vmin;
            font-weight: $font-weight-bold;
            text-shadow: 4px 2px 5px white;
            transform: rotate(20deg)
          }
        }
      }

      .nav-panel-text {
        @include flex-center;
        flex: auto;
        flex-direction: column;

        span {
          font-size: 5vmin;
          font-weight: $font-weight-bold;
          margin-bottom: 3vmin;
        }

        p {
          font-size: 2vmin;
          text-align: center;
        }
      }
    }

    .CardCollection, .UserGames, .LearnToPlay {
      @include panel;
      display: flex;
      flex-direction: column;
      padding-top: 1.5vmin;
    }

    .CardCollection {
      .collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 4vmin 0 0 2vmin;
        max-width: 128vmin;
        overflow-y: auto;

        .Card {
          margin: 0 1vmin 1vmin 0;
        }
      }
    }
  }
}

.App > .UserSearch {
  @include modal;
  @include flex-center;
  flex-direction: column;
  height: 50vmin;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vmin;

  .user-list {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vmin 0;
    overflow-y: auto;

    .username {
      background-color: $panel-overlay-background-color;
      border-radius: $border-radius;
      cursor: pointer;
      font-size: 2vmin;
      margin: 0.5vmin 2vmin;
      text-align: center;
      transition: 0.1s ease-in-out;
      width: 30vmin;

      .online {
        color: $online-indicator-color;
        margin-right: 0.5vmin;
      }

      &:hover {@include hover;}
    }
  }

  .user-search {
    display: grid;
    grid-template-columns: 85% 15%;
    height: auto;
    padding: 0.5vmin;
    width: 100%;

    input, button {
      @include embedded-form;
      font-size: 1.85vmin;
    }

    input {
      cursor: text;
      margin-right: 0.5vmin;
      padding-left: 1vmin;

      &:focus {outline: none;}
    }

    button {
      cursor: pointer;
      transition: 0.1s ease-in-out;

      &:hover {@include hover;}
    }
  }
}

.Card {
  aspect-ratio: 5 / 7;
  background-color: $card-background-color;
  border: 1.5px solid $card-border-color;
  border-radius: $border-radius;
  color: $card-text-color;
  display: flex;
  flex-direction: column;
  height: 30vmin;
  transition: 0.25s ease-in-out;
  user-select: none;

  * {cursor: pointer;}

  .card-top {
    align-items: center;
    border-bottom: 0.5px solid $card-border-color;
    display: flex;
    justify-content: space-between;
    padding: 0.375vmin 0.75vmin;

    .card-name{
      font-size: 1.5vmin;
      font-weight: $font-weight-bold;
    }

    .card-cost, .card-cost.mana {
      @include flex-center;
      aspect-ratio: 1 / 1;
      background-color: $card-cost-icon-color;
      border-radius: 50%;
      font-size: 2vmin;
      font-weight: $font-weight-bold;
      height: 2.5vmin;
      padding-top: 0.2vmin;
    }

    .card-cost.mana {
      background-color: transparent;
    }
  }

  .card-art {
    img {
      height: 100%;
      -webkit-user-drag: none;
      width: 100%;
    }
  }

  .card-type {
    border-bottom: 0.5px solid $card-border-color;
    border-top: 0.5px solid $card-border-color;
    font-size: 1vmin;
    padding: 0.075vmin 0.4vmin;
  }

  .card-text.mana {
    @include flex-center;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  
  .card-text {
    flex: auto;
    font-size: 1.3vmin;
    padding: 0.6vmin 0.4vmin 0.4vmin;
    position: relative;
    text-align: center;

    .str-def {
      @include flex-center;
      bottom: 0.5vmin;
      font-size: 2vmin;
      position: absolute;
      right: 0.4vmin;

      .str, .def {
        @include flex-center;
        font-weight: $font-weight-bold;

        img {
          height: 1.75vmin;
          opacity: 0.75;
        }
      }

      .str {
        border-right: 0.5px solid $card-border-color;
        color: $card-strength-color;
        padding-right: 0.75vmin;

        img {margin-right: 0.5vmin;}
      }

      .def {
        color: $card-defense-color;
        padding: 0 0.5vmin 0 0.75vmin;

        img {margin-left: 0.5vmin;}
      }
    }
  }
}

.Game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6vmin;
  padding: 10px;
  row-gap: 10px;

  > div {@include panel;}

  .game-window {
    display: grid;
    grid-template-columns: 20% 80%;

    .left {
      border-right: 3px solid $panel-overlay-background-color;
    }

    .right {
      display: flex;
      flex-direction: column;

      > div {
        border-bottom: 1px solid $panel-overlay-background-color;
        height: 100%;

        &:last-of-type {border-bottom: none;}
      }

      #opponent-in-play {background-color: rgb(40, 0, 0);}

      #user-in-play {background-color: rgb(0, 0, 40);}
    }
  }
}
